.banner {
  --bannerImageOffsetY: 24px;

  @include tablet {
    --bannerImageOffsetY: 0px;
  }

  padding-block: var(--bannerImageOffsetY);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: var(--border-radius-large);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    justify-content: start;
    padding: 60px;

    @include tablet {
      padding: 50px;
    }

    @include mobile {
      row-gap: 20px;
    }
  }

  &__image {
    margin-block: calc(var(--bannerImageOffsetY) * -1);

    @include tablet {
      max-width: 40%;
      height: auto;
    }
  }

  &__description {
    max-width: 500px;
  }
}