.studies {
  padding: 70px 60px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}