@import 'mixins',
'normalize',
'media',
'variables',
'fonts',
'utils',
'globals';

@import
'blocks/button',
'blocks/grid',
'blocks/cross-button',
'blocks/burger-button',
'blocks/mobile-overlay',
'blocks/header',
'blocks/sections',
'blocks/hero',
'blocks/puddle_bg',
'blocks/banner',
'blocks/service-card',
'blocks/services',
'blocks/studies',
'blocks/process';