@import 'mixins',
'normalize',
'media',
'variables',
'fonts',
'utils',
'globals';

@import
'blocks/field',
'blocks/radio',
'blocks/radios',
'blocks/button',
'blocks/grid',
'blocks/cross-button',
'blocks/burger-button',
'blocks/mobile-overlay',
'blocks/header',
'blocks/sections',
'blocks/hero',
'blocks/puddle_bg',
'blocks/banner',
'blocks/service-card',
'blocks/services',
'blocks/studies',
'blocks/process',
'blocks/team',
'blocks/team-card',
'blocks/pagination',
'blocks/review-card',
'blocks/reviews',
'blocks/contact-us',
'blocks/soc1als',
'blocks/subscribe-form',
'blocks/footer';