@import 'mixins',
'normalize',
'media',
'variables',
'fonts',
'utils',
'globals';

@import
'blocks/button',
'blocks/cross-button',
'blocks/burger-button',
'blocks/mobile-overlay',
'blocks/header',
'blocks/sections',
'blocks/hero';